// Footer
.site-footer {
	padding-bottom: calc(1.7 * var(--global--spacing-vertical));
	margin-top: calc(6 * var(--global--spacing-vertical));
	@extend %responsive-alignwide-width;
}

// Footer Branding
.site-footer > .site-info {
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	border-top: 3px solid var(--global--color-border);
	padding-top: var(--global--spacing-vertical);
	margin-top: var(--global--spacing-vertical);

	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
	}

	.copyright {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(desktop) {
		display: flex;
		align-items: center;
		margin-top: calc(2 * var(--global--spacing-vertical));

		.copyright {
			margin-top: initial;
			margin-left: auto;
		}
	}


	a {
		color: currentColor;
		border-bottom: none;

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--footer--color-link);
		}
	}
}
