// Site header

.site-header {
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	max-width: inherit;
	min-height: var(--header--min-height);
	background-color: transparent;
	padding-left: var(--global--spacing-horizontal);
	padding-right: calc(var(--global--spacing-horizontal) / 2);
	padding-bottom: calc(0.75 * var(--global--spacing-vertical));
	padding-top: calc(0.75 * var(--global--spacing-vertical));
	transition: all linear .25s;

	&.sticky {
		background-color: var(--branding--color-background);
		padding-top: calc(var(--global--spacing-vertical) / 0.8);
		padding-bottom: calc(var(--global--spacing-vertical) / 0.8);
		box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);

		// no description needed.
		.site-branding .site-description {
			display: none;
		}
	}

	@include media(desktop) {
		padding-right: var(--global--spacing-horizontal);
	}
}

// Site branding
.site-branding {
	@include media(desktop) {
		margin-top: inherit;
	}
}

// Site logo
.site-logo {
	min-width: var(--branding--logo--max-width);
}

@include media(mobile-only) {

	.site-header {

		&.has-logo {

			&:not(.has-title-and-tagline) {

				&.has-menu {

					.site-logo {
						> a, svg {
							max-width: var(--branding--logo--max-width-mobile);
						}
					}
				}
			}
		}
	}
}