.sticky {
	// This class is required to pass ThemeCheck.
}

.sticky-post {
	color: var(--global--color-background);
	background-color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-xs);
	line-height: 1;
	padding: calc(0.25 * var(--global--spacing-unit)) calc(0.33 * var(--global--spacing-unit));
}
//
// Sticky posts
.has-sticky-post .site-main {
	background: var(--sticky-posts--alt-color-background);

	> *:first-child {
		margin-top: calc( 0px - var(--global--spacing-vertical) );
		padding-top: var(--global--spacing-vertical);
	}
}

.post.sticky { // .post class needed to make this stronger
	background: var(--sticky-posts--color-background);
	padding-bottom: calc(2 * var(--global--spacing-vertical));

	.entry-title {
		font-size: var(--sticky-posts--entry-title-font-size);
	}

	.entry-content {
		font-size: var(--sticky-posts--entry-content-font-size);
	}

}

//

.updated:not(.published) {
	display: none;
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// single post (compiled)
.post .post-standard__banner {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 30.75em;
	margin-bottom: 3.75em;
	// cursor: pointer;
	@media only screen and (max-width: 768px) {
		height: 30em;		
	}
	// &:hover {
	// 	img {
	// 		transform: scale(1.15);
	// 		transition: 5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	// 	}
	// }
}

.post .post-standard__banner__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
	&:before {
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.7;
	}
}

.post .post-standard__banner__image img {
	height: 100% !important;
	width: 100% !important;
	max-width: inherit !important;
	object-fit: cover;
	transition: 3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.post-card.-center .card__content {
	text-align: center;
}

.post-card .card__content-category {
	color: #111;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 1;
	margin-bottom: 1.25em;
	padding: 0 0.3125em;
	&:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f1cdc2;
    z-index: -1;
    transform: translateY(40%);
	}	
}

.post-card .card__content-title {
	display: block;
	margin-bottom: 0.625em;
	// color: #111;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.375em;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.post-card.-center .card__content-info {
	justify-content: center;
}

.post-card .card__content-info {
	display: flex;
	align-items: center;
	line-height: 1;

	i, p {
		display: inline-block;
		color: #888;
		font-size: 0.8125em;
		font-weight: 400;
		line-height: 1;
	}

	.info__time svg, .info__comment svg {
		color: var(--global--color-orange);
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.info__time, .info__comment {
		display: flex;
		align-content: space-between;
	}
}

.post-card .card__content-info .info__time {
	margin-right: 0.9375em;
}

.post .post-standard.-full .post-standard__banner__content .post-card .card__content {
	max-width: 600px;
}

.post .post-standard__banner__content {
	background-color: #fff;
	padding: 2.5em;
	margin: 0 1.875em;
}

.post-card {
	font-size: 16px;
	@media only screen and (max-width: 576px) {
		font-size: 14px;
	}
}
//@at-root
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 768px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 992px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1170px) {
    .container {
      max-width: 1170px; } }

.blog-imageless {
	margin-bottom: 1.875rem;
}
.post-card {
  @media only screen and (max-width: 992px) {
    .post-card {
      font-size: 15px; } }
  @media only screen and (max-width: 576px) {
    .post-card {
      font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    .post-card.-full {
      font-size: 14px; } }
}
.post-card.-inner-text .card__content-category,
.post-card.-inner-text.-banner .card__content-title,
.post-card.-inner-text .card__content-info > div p {
	color: #fff;
  @media only screen and (max-width: 576px) {		
		color: #111;
	}
}
// .post-card.-inner-text .card__content-title {
// 	color: #fff;
// }
.post-card .card__content-info .info__time {
	margin-right: 0.9375em;
}
// .post-card.-inner-text .card__content-info .info__author p {
// 	color: #fff;
// }
// .post-card.-inner-text .card__content-info p {
// 	color: #fff;
// }
.post-card.-inner-text {
	position: relative;
	border-radius: 0.3125em;
	overflow: hidden;
}

.post-card.-inner-text.-banner {
	margin-bottom: 3.125em;
	position: relative;
}
.post-card .card__cover {
	display: flex;
	margin-bottom: 1.25em;
	border-radius: 0.3125em;
	overflow: hidden;
}
.post-card:hover .card__cover > img {
	transform: scale(1.1);
}
.post-card .card__cover img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.post-card.-inner-text .card__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 65%;
	margin: 0 auto;
	z-index: 3;
	padding-bottom: 1.875em;
  @media only screen and (max-width: 576px) {	
		position: unset;
		max-width: 100%;
	}
}
.post-card.-inner-text .card__cover {
	margin-bottom: 0;
}
.post-card.-inner-text::before {
	@media only screen and (min-width: 576px) {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
		z-index: 2;
	}
}